<!-- <ion-nav-bar class="bar-light has-tabs-top" align-title="center">
    <ion-nav-back-button>
        Back
    </ion-nav-back-button>
</ion-nav-bar> -->
<ion-nav-bar class="bar bar-light  nav-title-slide-ios">
  <ion-nav-buttons side="left" class="color-white">

  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="text-center"><img src="img/spingr1.png" class="logo"></h1>

  </ion-nav-title>
  <ion-nav-buttons side="right"  >


  </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <ion-tab title="My Card" href="/profile/mycard">
        <ion-nav-view name="profile-mycard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Personal Details" href="/profile/personal" disabled="true">
        <ion-nav-view name="profile-personal"></ion-nav-view>
    </ion-tab>
</ion-tabs>
