<ion-view view-title=" " class="background">
   <ion-content class="padding ">
      <form ng-submit="submitMyCard();" name="mcard">
         <div class="card-effect myprofile-card">
            <div class="addlogo" ng-click="uploadCompanyLogo();" ng-if="!mycard.companyLogo">Add company logo</div>
            <div class="addlogo" ng-click="uploadCompanyLogo();" ng-if="mycard.companyLogo" style="background-image:url({{mycard.companyLogo | uploadpath}});">
               <!-- <img ng-src="{{mycard.companyLogo | uploadpath}}" width="104"> -->
            </div>
            <div class="list">
               <label class="item item-input">
                  <input type="text" placeholder="Your name*" ng-model="mycard.name" required>
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Your designation" ng-model="mycard.designation">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Company name*" ng-model="mycard.companyName" required>
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Line of business" ng-model="mycard.lineOfBusiness">
               </label>
            </div>
         </div>
         <div class="card-effect">
            <div class="heading">
               Office Address
            </div>
            <div class="list">
               <label class="item item-input">
                  <input type="text" placeholder="Address" ng-model="mycard.officeAddress.address">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="City/District" ng-model="mycard.officeAddress.city">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="State/Provision" ng-model="mycard.officeAddress.state">
               </label>
               <label class="item item-input">
                  <input type="tel" placeholder="PinCode/Zipcode" ng-model="mycard.officeAddress.pincode" ng-minlength="6" ng-maxlength="6">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Country" ng-model="mycard.officeAddress.country">
               </label>
            </div>
         </div>
         <div class="card-effect">
            <div class="heading">
               Contact Details
            </div>
            <div class="list">
               <label class="item item-input">
                  <input type="tel" placeholder="Mobile Number" ng-model="mycard.contactDetails.mobileNumber" ng-minlength="10" ng-maxlength="10">
               </label>
               <label class="item item-input">
                  <input type="tel" placeholder="Direct Landline" ng-model="mycard.contactDetails.directLandline">
               </label>
               <label class="item item-input">
                  <input type="tel" placeholder="Board Landline" ng-model="mycard.contactDetails.boardLandline">
               </label>
               <label class="item item-input">
                  <input type="tel" placeholder="Extension" ng-model="mycard.contactDetails.extension">
               </label>
               <label class="item item-input">
                  <input type="email" placeholder="Email ID" ng-model="mycard.contactDetails.email">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Website" ng-model="mycard.contactDetails.website">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Record GPS" ng-model="mycard.contactDetails.recordgps">
               </label>
            </div>
         </div>
         <!-- <button class="button button-positive button-outline button-block" href="#/profile/personal">Save &amp; Proceed</button> -->
         <button class="button button-light button-block save-button" type="submit" ng-disabled="mcard.$invalid">Save &amp; Proceed</button>
      </form>
   </ion-content>
</ion-view>
