<ion-view view-title="Share Profile">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="sendShare();">
        Share
        </a>
    </ion-nav-buttons>

   
    <!--Delete After done-->
    <ion-toggle ng-model="mainLoader" toggle-class="toggle-positive" class="has-header" style="z-index: 999;">Test loader. Delete later.</ion-toggle>
    <!--Delete After done-->

    <div class="centralized" ng-hide="mainLoader">
        <ion-spinner class="spinner-positive"></ion-spinner>
        <p>Please wait, initializing your profile.</p>
    </div>

    <ion-content class="padding" ng-show="mainLoader">

        <ion-list class="reverse-padding">
            <ion-item class="transparent-bg">
                Phonebook contacts
                <span class="badge badge-positive">{{contactcount}}</span>
            </ion-item>
            <ion-item class="transparent-bg">
                SPingR contacts
                <span class="badge badge-positive">{{spingrcontactcount}}</span>
            </ion-item>
        </ion-list>

        <p class="text-center">
            Your Business card will be updated into their SPingr. If you don’t want your details to get updated into their SPingr then deselect the from the list.
        </p>
        <div class="heading">Share my profile with</div>
        <ion-list>

            <ion-item class=" item-avatar2 item-checkbox" ng-repeat="contact in spingrcontacts" type="item-text-wrap">
                <label class="checkbox">
                    <input type="checkbox" ng-model="contact.isShared">
                </label>
                <div class="picture" style="background-image: url('{{contact.image|serverimageprofile}}'), url('img/default.png');"></div>
                <!--                <div class="picture"></div>-->
                <div class="card-style">
                    <h2 class="positive">{{contact.name}}</h2>
                    <p class="stable">{{contact.company}}</p>
                </div>
            </ion-item>

        </ion-list>


    </ion-content>
</ion-view>