<ion-view class="background">
   <!-- <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ln-share small-icon">
      </button>
   </ion-nav-buttons> -->
   <ion-content class="padding ">
      <div class="vcard">

         <div class="picture" style="background-image: url('{{contactDetail.profilePicture | uploadpath}}');" ng-if="contactDetail.profilePicture"></div>
         <div class="picture" style="background-image: url('img/spingr.png');" ng-if="!contactDetail.profilePicture"></div>
         <div class="company" style="background-image: url('{{contactDetail.companyLogo | uploadpath}}');" ng-if="contactDetail.companyLogo"></div>
         <div class="company" style="background-image: url('img/spingr.png');" ng-if="!contactDetail.companyLogo"></div>

         <div class="in-vcard">
            <h1 ng-bind="contactDetail.name"></h1>
            <h2>Alias Name <i class="icon ln-pencil"></i></h2>
         </div>
         <div class="in-vcard">
            <h1 ng-bind="contactDetail.designation">Designation</h1>
            <h2 ng-bind="contactDetail.companyName"></h2>
            <h2 ng-bind="contactDetail.officeAddress.city"></h2>
         </div>
         <div class="in-vcard">
            <h3 ng-bind="contactDetail.contact"></h3>
            <h3 ng-bind="contactDetail.contactDetails.mobileNumber"></h3>
            <h3 ng-bind="contactDetail.contactDetails.email"></h3>
         </div>

      </div>
      <div class="card profile-card item detail-card"  >
          <img src="img/snapdeal.png" alt="logo" class="detail-companylogo" />
        <div class="detail">
            <img src="img/b.png" alt="amit" class="profile-photo"/>
            <div class="profile-detail list-detail">
                <h3 class="pro-name" >Priya Mishra</h3>
                <h3 class="pro-detail">Snapdeal</h3>
                <h5 class="pro-detail detail-dis">Marketing Manager</h5>
                <div class="text-icon"><h5 class="pro-detail detail-dis">9876543210</h5>
                <img src="img/chat-icon.png" alt="chat" class="share-icon"/></div>
                <h5 class="pro-name text-icon" ><a class="mail-color"href="mailto:priya@snapdeal.com" target="" style="text-decoration:none">priya@snapdeal.com</a></h5>
                <h5 class="pro-detail detail-address">cama industrial estate goregoan Mumbai,Maharastra</h5>
                <div class="share-margin">
                    <img src="img/fb-icon.png" alt="fb" class="share-logo"/>
                    <img src="img/Twitter-icon.png" alt="twitter" class="share-logo"/>
                    <img src="img/youtube.png" alt="youtube" class="share-logo"/>
                    <img src="img/linkedin-icon.png" alt="linkedin" class="share-logo"/>
                </div>
            </div>
        </div>

      </div>
   </ion-content>
</ion-view>
