<ion-view class="background">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-search small-icon animate-if save-button" ng-click="showsearch();" ng-if="filterbtn == false;"></button>
        <!-- <button class="button button-icon ln-funnel small-icon animate-if" ng-click="openfilter();" ng-if="filterbtn == true;"></button> -->
        <button class="button button-icon ion-android-more-vertical small-icon save-button" ng-click="openPopover();"></button>
    </ion-nav-buttons>
    <ion-nav-title >
        <!-- <h1 class="title animate-if" ng-if="search == false;">SpingR</h1> -->
        <img src="img/spingr1.png" alt="" class="title animate-if app-logo " ng-if="search == false;"/>
        <div class="animate-if headersearch mail-color" ng-if="search == true;">
            <input type="search"  ng-model="searchquery.$" ng-change="nameSearch();" id="focusme">
        </div>
    </ion-nav-title>
    <!--  Dialer UI  -->
    <div class="dialer" ng-class="{'showen': showdailer==true}">
        <!--DIAL BUTTON-->
        <button class="button button-round button-fixed ln-icons button-positive dialUP" ng-click="showdailer = !showdailer;"></button>
        <!--DIAL BUTTON-->
        <div class="dialer-bar">
            <input type="text" class="phone number" ng-model="phone.number" disabled>
            <button class="button-icon button ln-delete" ng-click="phoneback();" on-hold="phonedelete();"></button>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(1);" on-hold="phonenum('#');">
                <div class="number-holder">
                    <h2 class="positive">1</h2>
                    <span class="light-content">#</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(2);">
                <div class="number-holder">
                    <h2 class="positive">2</h2>
                    <span class="light-content">ABC</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(3);">
                <div class="number-holder">
                    <h2 class="positive">3</h2>
                    <span class="light-content">DEF</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(4);">
                <div class="number-holder">
                    <h2 class="positive">4</h2>
                    <span class="light-content">GHI</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(5);">
                <div class="number-holder">
                    <h2 class="positive">5</h2>
                    <span class="light-content">JKL</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(6);">
                <div class="number-holder">
                    <h2 class="positive">6</h2>
                    <span class="light-content">MNO</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(7);">
                <div class="number-holder">
                    <h2 class="positive">7</h2>
                    <span class="light-content">PQRS</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(8);">
                <div class="number-holder">
                    <h2 class="positive">8</h2>
                    <span class="light-content">TUV</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(9);">
                <div class="number-holder">
                    <h2 class="positive">9</h2>
                    <span class="light-content">WXYZ</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum('*');">
                <div class="number-holder number-center">
                    <h2 class="positive" style="margin-top: 5px;">*</h2>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(0);" on-hold="phonenum('+');">
                <div class="number-holder">
                    <h2 class="positive">0</h2>
                    <span class="light-content">+</span>
                </div>
            </div>
            <div class="col button button-balanced" ng-click="call(phone.number);">
                <div class="number-holder number-center">
                    <h2 class="positive icon ion-ios-telephone"></h2>
                </div>
            </div>
        </div>
    </div>
    <!--  Dialer UI  -->
    <ion-content >
        <ion-list class="">
            <!-- <div class="card" ng-repeat="contact in myContacts | filter:searchquery:strict">
                <div class="item item-text-wrap spingr-card">
                    <div class="brand-info">
                        <div class="brand-logo" style="background-image:url('{{contact.user.companyLogo | uploadpath}}');" ng-click="goToDetail(contact);"
                            ng-if="contact.user.companyLogo"></div>
                        <div class="brand-logo" style="background-image:url('img/fplogo.png');" ng-click="goToDetail(contact);" ng-if="!contact.user.companyLogo"></div>
                        <h4 class="brand-name ">{{contact.user.companyName}}</h4>
                        <h5 class="card-info" ng-if="contact.user.designation">{{contact.user.designation}}</h5>
                        <div class="contact-desc">
                            <a ng-href="mailto:{{contact.user.contactDetails.email}}">{{contact.user.contactDetails.email}}</a>
                            <a href ng-click="call(contact.user.contact);" ng-bind-html="contact.user.contact|addnumhighlight:searchquery.user.contact"></a>
                        </div>
                    </div>
                    <div class="card-end" ng-click="toggleSpingrCard($index)" ng-class="{'open-card':openCard==true && openCardNo==$index}">
                        <div class="profile-pic" style="background-image: url('{{contact.user.profilePicture | uploadpath}}');" ng-if="contact.user.profilePicture"
                            ng-click="goToDetail(contact);"></div>
                        <div class="profile-pic" style="background-image: url('img/spingr.png');" ng-if="!contact.user.profilePicture" ng-click="goToDetail(contact);"></div>
                        <div class="other-part">
                            <p>
                                <span class="bigr" ng-bind-html="contact.user.name|addhighlight:searchquery.$" ng-if="searchquery.$"></span>
                                <span class="bigr" ng-bind-html="contact.user.name|addhighlight:searchquery.user.name" ng-if="searchquery.user.name"></span>
                                <span class="bigr" ng-bind-html="contact.user.name" ng-if="!searchquery.user.name && !searchquery.$"></span>
                                <i class="ln-chevron-down go-right"></i>
                            </p>
                            <div class="should-hide">
                                <p ng-if="contact.user.designation">{{contact.user.designation}}</p>
                                <p class="bigr tp-pd"><span class="">{{contact.user.companyName}}</span></p>
                                <p>{{contact.user.officeAddress.city}}</p>
                                <p class="ph-nbr"><a ng-href="tel:{{contact.user.contact}}">{{contact.user.contact}}</a></p>
                                <p><a ng-href="mailto:{{contact.user.contactDetails.email}}"><span class="">{{contact.user.contactDetails.email}}</span></a></p>
                                <div class="social-clicks">
                                    <div class="socio fb" ng-if="contact.user.contactPersonalDetails.facebookpage" ng-click="openInBrowser(contact.user.contactPersonalDetails.facebookpage)"><i class="icon ion-social-facebook"></i></div>
                                    <div class="socio tw" ng-if="contact.user.contactPersonalDetails.twitterhandle" ng-click="openInBrowser(contact.user.contactPersonalDetails.twitterhandle)"><i class="icon ion-social-twitter"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="">
                <div class="card profile-card item"  ng-repeat="users in user ">
                    <img ng-src="{{users.image}}" alt="{{users.name}}" class="profile-photo" ui-sref="spingbook-detail-new"/>
                    <div class="profile-detail">
                        <h3 class="pro-name" ui-sref="spingbook-detail-new">{{users.name}}</h3>
                        <h4 class="pro-detail">{{users.designation}}</h3>
                        <h5 class="pro-detail">{{users.phone}}</h5>
                        <h5 class=" " ><a class="pro-detail" href="mailto:{{users.email}}" target="" style="text-decoration:none" >{{users.email}}</a></h5>
                    </div>
                    <img ng-src="{{users.company}}" alt="logo" class="profile-logo" />
                </div>
                </div>
            <div class="">
                <div class="card profile-card item"  ng-repeat="contact in myContacts | filter:searchquery:strict">
                    <div style="background-image: url('{{contact.user.profilePicture | uploadpath}}');" ng-if="contact.user.profilePicture"
                        ng-click="goToDetail(contact);" class="profile-photo" ></div>
                    <div class="profile-photo" style="background-image: url('img/spingr.png');" ng-if="!contact.user.profilePicture" ng-click="goToDetail(contact);"></div>
                    <div class="profile-detail">
                        <span class="pro-name" ng-bind-html="contact.user.name|addhighlight:searchquery.$" ng-if="searchquery.$"></span>
                        <span class="pro-name" ng-bind-html="contact.user.name|addhighlight:searchquery.user.name" ng-if="searchquery.user.name"></span>
                        <span class="pro-name" ng-bind-html="contact.user.name" ng-if="!searchquery.user.name && !searchquery.$"></span>
                        <h4 class="pro-detail" ng-if="contact.user.designation">{{contact.user.designation}}</h3>
                        <h5 class="pro-detail"<a style="text-decoration:none" ng-href="tel:{{contact.user.contact}}">{{contact.user.contact}}</a></h5>
                        <h5 class=" " ><a ng-href="mailto:{{contact.user.contactDetails.email}}"><span class="pro-detail" style="text-decoration:none" >{{contact.user.contactDetails.email}}</span></a></h5>
                    </div>
                    <img ng-src="{{users.company}}" alt="logo" class="profile-logo" />
                    <div class="profile-logo" style="background-image:url('{{contact.user.companyLogo | uploadpath}}');" ng-click="goToDetail(contact);"
                        ng-if="contact.user.companyLogo"></div>
                    <div class="profile-logo" style="background-image:url('img/fplogo.png');" ng-click="goToDetail(contact);" ng-if="!contact.user.companyLogo"></div>
                </div>
                </div>
        </ion-list>
    </ion-content>
</ion-view>
