<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.spingr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpingR</name>
    <description>SpingR for Contact Sync</description>
    <author href="http://www.wohlig.com" email="info@wohlig.com">Wohlig Technology</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="android-installLocation" value="auto" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ErrorUrl" value="" />
    <preference name="KeepRunning" value="true" />
    <preference name="LoadUrlTimeoutValue" value="20000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <icon src="res/icon/logo.png" />

    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/splash.png" density="land-hdpi" />
        <splash src="res/screen/splash.png" density="land-ldpi" />
        <splash src="res/screen/splash.png" density="land-mdpi" />
        <splash src="res/screen/splash.png" density="land-xhdpi" />
    </platform>

    <splash src="res/screen/splash.png" />

    <plugin name="com.ionic.keyboard" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="nl.x-services.plugins.socialsharing" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="info.asankan.phonegap.smsplugin" />
    <plugin name="com.teamnemitoff.phonedialer" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-splashscreen" />


    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>
    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
</widget>