<ion-view view-title="SpingR">
    <ion-content class="padding">
        <div class="card-effect myprofile-card">
            <div class="addlogo">Add company logo</div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Your name" ng-model="mycard.name">
                </label>   
                <label class="item item-input">
                    <input type="text" placeholder="Your designation" ng-model="mycard.designation">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Company name" ng-model="mycard.companyname">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Line of business" ng-model="mycard.lob">
                </label>
            </div>
        </div>

        <div class="card-effect">
            <div class="heading">
                Office Address
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="mycard.address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City/District" ng-model="mycard.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State/Provision" ng-model="mycard.state">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PinCode/Zipcode" ng-model="mycard.pincode">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Country" ng-model="mycard.country">
                </label>
            </div>
        </div>
        <div class="card-effect">
            <div class="heading">
                Office Details
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Mobile Number" ng-model="mycard.mobile">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Direct Landline" ng-model="mycard.dlandline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Board Landline" ng-model="mycard.blandline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Extension" ng-model="mycard.extension">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email ID" ng-model="mycard.email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Website" ng-model="mycard.website">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Record GPS" ng-model="mycard.gps">
                </label>
            </div>
        </div>

<!--        <a class="button button-positive button-outline button-block" href="#/profile/personal">Save &amp; Proceed</a>-->
        <a class="button button-positive button-outline button-block" ng-click="CardDetails(mycard)">Save &amp; Proceed</a>
    </ion-content>
</ion-view>