<ion-view view-title="SpingR">
    <ion-content class="padding">
        <div class="card-effect">
            <div class="addlogo">Upload profile picture</div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Your name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Your designation">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Company name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Line of business">
                </label>
            </div>
        </div>
        
        <div class="card-effect">
           <div class="heading">
               Office Address
           </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Your name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Your designation">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Company name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Line of business">
                </label>
            </div>
        </div>
        
        <a class="button button-positive button-outline button-block" href="#/profile/sharewith">
    Save &amp; Proceed
</a>
    </ion-content>
</ion-view>