<ion-view view-title="Share Profile">
    <ion-nav-bar class="bar-positive has-tabs-top" align-title="center">
        <ion-nav-back-button>
            Back
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-clear" href="#/profile/get">
        Share
        </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">

        <ion-list class="reverse-padding">
            <ion-item class="transparent-bg">
                Phonebook contacts
                <span class="badge badge-positive">752</span> 
            </ion-item>
            <ion-item class="transparent-bg">
                SPingR contacts
                <span class="badge badge-positive">312</span> 
            </ion-item>
        </ion-list>

        <p class="text-center">
            Your Business card will be updated into their SPingr. If you don’t want your details to get updated into their SPingr then deselect the from the list.
        </p>
        <div class="heading">Share my profile with</div>
        <ion-list>

            {{contacts}}            <ion-item class=" item-avatar2 item-checkbox" ng-repeat="contact in contacts | limitTo:10" type="item-text-wrap" ng-if="(contact.displayName)">


                <label class="checkbox">
                    <input type="checkbox" checked>
                </label>


                <label class="checkbox">
                    <input type="checkbox" checked>
                </label>

                <!--                <div class="picture" style="background-image: url('{{contact.image}}');"></div>-->
                <div class="picture"></div>

                <div class="card-style">
                    <h2 class="positive">{{contact.displayName}}</h2>
                    <!--                    <p class="stable">{{contact.company}}</p>-->
                </div>
            </ion-item>

        </ion-list>


    </ion-content>
</ion-view>