<ion-view view-title="SpingR">
    <ion-content class="padding">
        <div class="card-effect myprofile-card">
            <div class="addlogo" ng-click="changecompanylogo()" style="background-image:url('{{companylogo}}')" ng-if="companylogo=='img/logo.jpg'">
                Add company logo
            </div>
            <div class="addlogo" ng-click="changecompanylogo()" style="background-image:url('{{companylogo|serverimage}}')" ng-if="companylogo!='img/logo.jpg'">
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Your name" ng-model="mycard.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Your designation" ng-model="mycard.designation">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Line of business" ng-model="mycard.lineofbusiness">
                </label>
                <label class="item item-input last-input">
                    <input type="text" placeholder="Company name" ng-model="mycard.companyname">
                </label>
            </div>
        </div>

        <div class="card-effect">
            <div class="heading">
                Office Address
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="mycard.companyaddress">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City/District" ng-model="mycard.companycity">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State/Provision" ng-model="mycard.companystate">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PinCode/Zipcode" ng-model="mycard.companypincode">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Country" ng-model="mycard.companycountry">
                </label>
            </div>
        </div>
        <div class="card-effect">
            <div class="heading">
                Office Details
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Mobile Number" ng-model="mycard.companycontact">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Direct Landline" ng-model="mycard.directlandline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Board Landline" ng-model="mycard.boardlandline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Extension" ng-model="mycard.extension">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email ID" ng-model="mycard.companyemail">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Website" ng-model="mycard.companywebsite">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Record GPS" ng-model="mycard.companygps">
                </label>
            </div>
        </div>

        <!--        <a class="button button-positive button-outline button-block" href="#/profile/personal">Save &amp; Proceed</a>-->
        <a class="button button-positive button-outline button-block" ng-click="CardDetails(mycard);">Save &amp; Proceed</a>
    </ion-content>
</ion-view>