<ion-view view-title="SpingR">
    <ion-content class="padding">
        <div class="card-effect personal-card">
            <div class="addlogo" ng-click="changeprofilelogo()" style="background-image:url('{{profilelogo}}')" ng-if="profilelogo=='img/logo.jpg'">
                Upload profile picture
            </div>
            <div class="addlogo" ng-click="changeprofilelogo()" style="background-image:url('{{profilelogo|serverimage}}')" ng-if="profilelogo!='img/logo.jpg'">
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" onfocus="(this.type='date')" placeholder="Birth Date" ng-model="personal.dob">
                </label>
                <label class="item item-input">
                    <input type="text" onfocus="(this.type='date')" placeholder="Anniversary" ng-model="personal.doa">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Blood Group" ng-model="personal.bloodgroup">
                </label>
            </div>
        </div>

        <div class="card-effect">
            <div class="heading">
                Personal Address
            </div>
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Address" ng-model="personal.address"></textarea>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City/District" ng-model="personal.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State/Province" ng-model="personal.state">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Pincode/Zipcode" ng-model="personal.pincode">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Country" ng-model="personal.country">
                </label>
            </div>
        </div>
        <div class="card-effect">
            <div class="heading">
                Personal Details
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="tel" placeholder="Mobile Number" ng-model="personal.mobile" >
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Home Landline" ng-model="personal.landline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Twitter Handle" ng-model="personal.twitter">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Facebook Page" ng-model="personal.fb">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email ID" ng-model="personal.email" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Website" ng-model="personal.website">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Record GPS" ng-model="personal.gps">
                </label>
            </div>
        </div>

        <!--<a class="button button-positive button-outline button-block" ng-click="PersonalDetails(personal);" href="#/profile/sharewith">Save &amp; Proceed</a>-->
        <a class="button button-positive button-outline button-block" ng-click="PersonalDetails(personal);">Save &amp; Proceed</a>
    </ion-content>
</ion-view>