<ion-view view-title="SpingR" ng-controller="NewsCtrl">
	<ion-content>
		<ion-list>
<!--
			<ion-toggle ng-model="settings.enableNews">
				Enable Notification
			</ion-toggle>

-->
			<ion-item class="item-avatar2 withbutton" ng-repeat="contact in newsfeed" type="item-text-wrap">

				<div class="picture" style="background-image: url('{{contact.image}}');"></div>

				<div class="card-style">
					<h2 class="positive">{{contact.name}}</h2>
					<p class="stable">{{contact.companyname}}</p>
					<div class="buttoner">
						<button class="button button-positive button-small" ng-class="{'button-outline':contact.add=='Add'}" ng-click="changeAdd(contact);">{{contact.add}}</button>

						<button class="button button-positive button-small" ng-class="{'button-outline':contact.addShare=='Add & Share'}" ng-click="changeAddShare(contact);">{{contact.addShare}}</button>

					</div>
				</div>

			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>